<h1 id="generic-scrolling-game-i-dont-know-yet">Generic Scrolling Game: I dont know yet</h1>
<h1 id="objectives">Objectives</h1>
<p>Throughout this exercise the students will practice:</p>
<ul>
<li>if/else</li>
<li>do/while</li>
<li>setter/getters</li>
</ul>
<h2 id="concepts">Concepts</h2>
<p>This laboratory consist on a simple side scrolling game. The user controls a car on the left edge of the screen, that can be moved up and down. Obstacles and checkpoints are created on the right edge of the screen, and these scroll toward the user on the left edge. The user earns a score, shown at the bottom, and the game ends when the user hits an obstacle. This laboratory is an adaptation of the assigment presented by Dave Feinberg [1].</p>
<h2 id="libraries">Libraries</h2>
<p>For this project you need to know how to use the rand function</p>
<ul>
<li>srand(time(NULL)); // to initialize random number function</li>
<li>rand( ); // random number function</li>
</ul>
<h2 id="exercise-1">Exercise 1</h2>
<p>The Qt project at <em>HERE???</em> contains the skeleton for an application to ... The application allows the user to ....</p>
<p><img src="http://i.imgur.com/cH1Cxbn.png"></p>
<p>Specific instructions for the exercise.</p>
<h2 id="exercise-2">Exercise 2</h2>
<h2 id="optional-exercise">Optional Exercise</h2>
<h3 id="deliverables">Deliverables</h3>
<p>In the following text box, copy the functions that you developed for the program. Remember to properly comment all functions and use good indentation and variable naming practices.</p>
<h3 id="references">References</h3>
<p>[1] Dave Feinberg, http://nifty.stanford.edu/2011/feinberg-generic-scrolling-game/</p>
